body {
    padding: 0;
    margin: 0;
}

.homeTitles {
    text-align: center;
    line-height: 0.8;
    padding-top: 50px;
}


#title {
    font-size: 50px;
    font-weight: bold;
}

#subTitle {
    font-size: 20px;
}

.boardContainer {
    padding-top: 60px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.boardCards {
    border: 1px solid lightgray !important;
}

.boardCards:hover {
    background-color: #1C2B5D;
    color: white;
}

.createBoardForm {
    width: 60%;
    margin: 0 auto;
}


.boardViewContainer {
    height: 100vh;
    width: 100%;
}

#boardViewNavBar {
    height: 5%;
    border-bottom: 1px solid black;
}

#boardViewUl {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.boardViewLi {
    float: right;
}

.boardViewLi:first-child {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.boardViewLi:last-child {
    margin: 10px 15px;
    cursor: pointer;
}

.boardViewLi:nth-child(2) {
    margin: 10px 15px;
}

#renameBtn {
    cursor: pointer;
}

#deleteBtn {
    cursor: pointer;
}

.columnsContainer {
    margin-top: 2%;
    min-height: 50%;
    width: 100%;
    text-align: center;
}

.kanbanColumn {
    height: 650px;
    display: block;
    border: 1px solid lightgrey;
    float: left;
    padding-bottom: 100px;
    overflow: auto;
}

.kanbanColumn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.kanbanColumn:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#columnName {
    height: 30px;
    font-size: 25px;
    border-bottom: 1px solid lightgrey;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#createIssueContainer {
    display: none;
    text-align: center;
    line-height: 2;
    border: 1px solid black;
}

.issue {
    cursor: pointer;
    margin-bottom: 10px;
    min-height: 50px;
    overflow-wrap: break-word;
    background-color: #FFE458 !important;
    border-radius: 8px !important;
}

#columnIssues {
    list-style-type: none;
}

#trashCan {
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    float: right;
}

#trashCan:hover {
    width: 120px;
    height: 120px;
}

#renameBoardSection {
    display: none;
}

#deleteBoardSection {
    display: none;
}

.breadcrumb {
    background-color: transparent !important;
    margin-bottom: 0 !important;
}

.mainBoard {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: white !important;
    font-weight: bold !important;
}

.navbar {
    background-color: #1C2B5D !important;
}

.nav-link {
    color: white !important;
}

.breadcrumb-item {
    color: white !important;
}

.modal-header {
    background-color: #1C2B5D !important;
    color: white !important;
}

.close {
    color: white !important;
}

.dropDownMenu {
    color: grey !important;
}

.modal-footer {
    border-top: none !important;
}

.instructionsSection {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}

.instructionIcon {
    width: 80px;
    height: 80px;
    border-radius: 90%;
    margin: 0 auto;
    font-size: 35px;
    line-height: 80px;
    font-weight: bolder;
    color: white;
    margin-bottom: 15px;
    background: linear-gradient(.1turn, #CCCCFF 0%, #CCCCFF 20%, #8080FF 80%, #8080FF 100%);
}

.instructionsText {
    margin: 0 auto;
    width: 200px;
}