body{
    padding: 0;
    margin: 0;
}

.homeTitles{
    text-align: center;
    line-height: 0.8;
    padding-top: 50px;
}

#upSubTitle{
    font-size: 25px;
}

#title{
    font-size: 50px;
    font-weight: bold;
}

#subTitle{
    font-size: 20px;
}

.boardContainer{
    padding-top: 110px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}

.createBoardContainer{
    border: 1px solid black;
    margin-top: 80px;
    display: none;
    text-align: center;
}

.boardViewContainer{
    height: 100vh;
    width: 100%;
}

#boardViewNavBar{
    height: 5%;
    border-bottom: 1px solid black;
}

#boardViewUl{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.boardViewLi{
    float: right;
}

.boardViewLi:first-child{
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

.boardViewLi:last-child{
    margin: 10px 15px;
    cursor: pointer;
}

.boardViewLi:nth-child(2){
    margin: 10px 15px;
}

#renameBtn{
    cursor: pointer;
}

#deleteBtn{
    cursor: pointer;
}

.columnsContainer{
    margin-top: 2%;
    min-height: 50%;
    width: 100%;
    text-align: center;
}

.kanbanColumn{
    min-height: 300px;
    width: 22%;
    display: block;
    border: 1px solid black;
    float: left;
    padding-bottom: 100px;
}

#columnName{
    height: 30px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

#createIssueContainer{
    display: none;
    text-align: center;
    line-height: 2;
    border: 1px solid black;
}

.issue{
    cursor: pointer;
    height: 50px;
    border: 1px solid black;
}

#columnIssues{
    list-style-type: none;
}

#trashCan{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
}

#renameBoardSection{
    display: none;
}

#deleteBoardSection{
    display: none;
}